# Exclude local virtualenv for development
venv-sfam

# Exclude Jupyter intermediate files
.ipynb_checkpoints/

# Exclude Emacs intermediate files
*~
*#

# Exclude library imports
*.pyc

# Exclude exercise output
workshop/data/blast/output/
workshop/data/reproducible/output/